/*Only for Test Purposes Only */
* {
  font-family: 'Roboto', sans-serif;
}

/*End Test Styles*/
.card {
  width: 350px;
  max-width: 350px;
  position: relative;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.24), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  padding: 1em;
  margin-bottom: 3px;
}

.captchaTitle {
  padding: 5px;
}

.captchaQuestion {
  font-weight: bold;
}

.captcha {
  width: 350px;
  text-align: center;
}

.capchaIcons {
  width: 100%;
  padding: 5px;
}

.capchaIcons .captchaIcon {
  display: inline-block;
}

.captchaIconSingle {
  padding: 10px;
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.captchaIconSingle:hover {
  -webkit-transform: scale(1.2);

  /* Safari and Chrome */
  -moz-transform: scale(1.2);

  /* Firefox */
  -ms-transform: scale(1.2);

  /* IE 9 */
  -o-transform: scale(1.2);

  /* Opera */
  transform: scale(1.2);
  opacity: .83;
}

.selectedIconCaptcha {
  border: 1px solid;
  border-radius: 50%;
}

.reCap {
  text-decoration: none;
  color: white;
  border: 1px solid #95a5a6;
  padding: 5px;
  background-color: #95a5a6;
  border-bottom: 2px solid #7E888A;
  position: absolute;
  margin-left: 3px;
  width: 15px;
  height: 15px;
}

.voiceCaptcha {
  position: absolute;
  text-decoration: none;
  color: white;
  margin-left: 3px;
  padding: 5px;
  background-color: #1abc9c;
  border: 1px solid #1abc9c;
  border-bottom: 2px solid #137B67;
  margin-top: 32px;
  width: 15px;
  height: 15px;
}

.submitForm {
  width: 310px;
  height: 60px;
}

.flatButton {
  position: relative;
  vertical-align: top;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #3498db;
  border: 0;
  border-bottom: 2px solid #2a8bcc;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #2a8bcc;
  box-shadow: inset 0 -2px #2a8bcc;
}

.flatButton:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
